*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
nav{
    background: linear-gradient(90deg, rgba(2,4,6,1) 0%, rgba(33,35,41,1) 35%, rgba(69,68,74,1) 55%, rgba(122,121,126,1) 100%);
    display:flex;
    justify-content:space-between;
    padding:25px 40px;
}

nav ul li {
    list-style:none;
    display: inline-block;
}

nav li a {
    text-decoration:none;
    padding:10px 15px;
}

